.char{
    margin: 15px 0 15px;
    h1{
        background: white;
        color: red;
        width: fit-content;
        margin: 0 auto;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    h2{
        background: white;
        width: fit-content;
        margin: 0 auto;
    }

    .clicked{
        display: block;
    }

    .closed{
        display: none
    }
}